[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
drf-generators = "*"
django-rest-framework = "*"
django-webpack-loader = "*"
django-filter = "*"
psycopg2-binary = "*"
python-dateutil = "*"

[requires]
python_version = "3.7"
