{% extends 'base_login.html' %}

{% block content %}

  {% if form.errors %}
    {{ form.errors }}
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <section class="hero is-info welcome is-small">
    <div class="hero-body">
      <div class="container">
      <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="field">
            <label class="label">Корисничко име</label>
            <div class="control">
              <input class="input" type="text" name="username" autofocus maxlength="150" required>
            </div>
          </div>
          <div class="field">
            <label class="label">Лозинка</label>
            <div class="control">
              <input class="input" type="password" name="password" required autocomplete="off">
            </div>
          </div>
          <input class="button" type="submit" value="Login">
          <input type="hidden" name="next" value="{{ next }}">
        </form>
      </div>
    </div>
  </section>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="#">Заборави лозинка?</a></p>

{% endblock %}
