{% extends 'base.html' %}
{% load static %}

{% block content %}
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="../">Bulma</a></li>
      <li><a href="../">Templates</a></li>
      <li><a href="../">Examples</a></li>
      <li class="is-active"><a href="#" aria-current="page">Додај производ</a></li>
    </ul>
  </nav>
  <div class="title">Додади нов производ</div>
  <div class="subtitle has-text-success">{{ message }}</div>
  <div class="subtitle has-text-danger">{{ error }}</div>
  {{ form.non_field_errors }}
  <section class="form">
    <form method="POST" action="">
      {% csrf_token %}
      <div class="field">
        <label class="label">Име</label>
        <div class="control">
          <input class="input is-medium" type="text" name="name" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Баркод</label>
        <div class="control">
          <input class="input is-medium" type="text" name="barcode" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Цена</label>
        <div class="control">
          <input class="input is-medium" type="number" name="price" required>
        </div>
      </div>
      <div class="control">
        <button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium">Зачувај</button>
      </div>
    </form>
  </section>
{% endblock %}
