{% extends 'base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'home' %}">Почетна</a></li>
      <li class="is-active"><a href="#" aria-current="page">Листа на пратки</a></li>
    </ul>
  </nav>
  <div class="title">Листа на пратки</div>
  {#  <section>#}
  {#    <div class="columns">#}
  {#      <div class="column is-12">#}
  {#        <form action="" method="get" class="filter-form">#}
  {#          <p></p>#}
  {#          {{ filterset.form.as_p }}#}
  {#          <p>#}
  {#            <input type="submit" class="button is-small is-info" value="Барај">#}
  {#          </p>#}
  {#        </form>#}
  {#      </div>#}
  {#    </div>#}
  {#  </section>#}
  <section data-controller="product-batch">
    <div class="columns">
      <div class="column is-12">
      <form action="" method="get" class="filter-form">
        <div class="field is-horizontal">
          {{ filterset.form.store.errors }}
          <label for="id_store" class="label field-label">Локација</label>
          <div class="control field-body is-expanded">
            <select id="id_store" required name="store" class="select is-fullwidth"
                    data-target="product-batch.locationSelect">
              {% for option in filterset.form.store.field.choices %}
                {% if option.0 == filterset.form.initial.store %}
                  <option selected="selected" value="{{ option.0 }}">{{ option.1 }}</option>
                {% else %}
                  <option value="{{ option.0 }}">{{ option.1 }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="field is-horizontal">
          {{ filterset.form.product.errors }}
          <label for="id_product" class="label field-label">Производ</label>
          <div class="control is-expanded field-body">
            <select id="id_product" required name="product" class="select is-fullwidth"
                    data-target="product-batch.productSelect">
              {% for option in filterset.form.product.field.choices %}
                {% if option.0 == filterset.form.initial.product %}
                  <option selected="selected" value="{{ option.0 }}">{{ option.1 }}</option>
                {% else %}
                  <option value="{{ option.0 }}">{{ option.1 }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
          <div>
            <input type="submit" class="button is-info is-small" value="Барај">
          </div>
      </form>
      </div>
      {#      <form action="" method="get" class="filter-form">#}
      {#        <div class="field is-horizontal">#}
      {#          <label for="id_store" class="label field-label">Локација</label>#}
      {#          <div class="control field-body is-expanded">#}
      {#            <select id="id_store" name="store" class="select is-fullwidth"#}
      {#                    data-target="product-batch.locationSelect">#}
      {#              {% for option in filterset.form.store.field.choices %}#}
      {#                {% if option.0 == filterset.form.initial.store %}#}
      {#                  <option selected="selected" value="{{ option.0 }}">{{ option.1 }}</option>#}
      {#                {% else %}#}
      {#                  <option value="{{ option.0 }}">{{ option.1 }}</option>#}
      {#                {% endif %}#}
      {#              {% endfor %}#}
      {#            </select>#}
      {#          </div>#}
      {#        </div>#}
      {#        <div class="field is-horizontal">#}
      {#          <label for="id_product" class="label field-label">Производ</label>#}
      {#          <div class="control is-expanded field-body">#}
      {#            <select id="id_product" name="product" class="select is-fullwidth"#}
      {#                    data-target="product-batch.productSelect">#}
      {#              {% for option in filterset.form.product.field.choices %}#}
      {#                {% if option.0 == filterset.form.initial.product %}#}
      {#                  <option selected="selected" value="{{ option.0 }}">{{ option.1 }}</option>#}
      {#                {% else %}#}
      {#                  <option value="{{ option.0 }}">{{ option.1 }}</option>#}
      {#                {% endif %}#}
      {#              {% endfor %}#}
      {#            </select>#}
      {#          </div>#}
      {#        </div>#}
      {#        <div>#}
      {#          <input type="submit" class="button is-info is-small" value="Барај">#}
      {#        </div>#}
      {#      </form>#}
    </div>
  </section>

  <section class="pagination-table">
    <table class="table" data-controller="product-batch-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Локација</th>
        <th>Производ</th>
        <th>Количина</th>
        <th>Датум на истекување</th>
      </tr>
      </thead>
      <tbody>
      {% for product_batch in object_list %}
        <tr data-batch-id="{{ product_batch.id }}" data-action="click->product-batch-table#editBatch">
          <th>{{ product_batch.id }}</th>
          <th>{{ product_batch.store }}</th>
          <td>{{ product_batch.product.name }}</td>
          <td>{{ product_batch.quantity }}</td>
          <td>{{ product_batch.expiration_date }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {% if page_obj.has_previous %}
        <a class="pagination-previous" href="?{% param_replace page=page_obj.previous_page_number %}">Претходна</a>
      {% endif %}
      {% if page_obj.has_next %}
        <a class="pagination-next" href="?{% param_replace page=page_obj.next_page_number %}">Наредна</a>
      {% endif %}
      <ul class="pagination-list">
        <a href="?{% param_replace page=1 %}" class="pagination-link">1</a>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% if page_obj.has_previous %}
          <li><a class="pagination-link" href="?{% param_replace page=page_obj.previous_page_number %}"
          >{{ page_obj.previous_page_number }}</a></li>
        {% endif %}
        <li><a class="pagination-link is-current" aria-label="Page {{ page_obj.number }}"
               aria-current="page">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
          <li><a class="pagination-link"
                 href="?{% param_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
        {% endif %}
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-next"
               href="?{% param_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a></li>
      </ul>
    </nav>
  </section>
{% endblock %}
{% block js_init %}
  <script defer src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
{% endblock %}
