{% extends 'base.html' %}
{% load static %}

{% block content %}
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'home' %}">Почетна</a></li>
      <li class="is-active"><a href="#" aria-current="page">Листа на производи</a></li>
    </ul>
  </nav>
  <section class="pagination-table">
    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Шифра</th>
        <th>Име</th>
        <th>Цена</th>
      </tr>
      </thead>
      <tbody>
      {% for product_item in product_list %}
        <tr>
          <th>{{ product_item.id }}</th>
          <th>{{ product_item.id_code }}</th>
          <td>{{ product_item.name }}</td>
          <td>{{ product_item.price }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>

  <section>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {% if page_obj.has_previous %}
        <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}" >Претходна</a>
      {% endif %}
      {% if page_obj.has_next %}
        <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Наредна</a>
      {% endif %}
      <ul class="pagination-list">
        <a href="?page=1" class="pagination-link">1</a>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% if page_obj.has_previous %}
          <li><a class="pagination-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Page {{page_obj.previous_page_number}}" aria-current="page">{{page_obj.previous_page_number}}</a></li>
        {% endif %}
        <li><a class="pagination-link is-current" aria-label="Page {{page_obj.number}}" aria-current="page">{{page_obj.number}}</a></li>
      {% if page_obj.has_next %}
        <li><a class="pagination-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
      {% endif %}
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-next" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
      </ul>
    </nav>
  </section>
{% endblock %}
