{% extends 'base.html' %}
{% load static %}
{% block css_init %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'home' %}">Почетна</a></li>
      <li class="is-active"><a href="#" aria-current="page">Нов производ</a></li>
    </ul>
  </nav>
  <div class="title">Внеси нов производ</div>
  {% if message %}
    <div class="subtitle has-text-success">{{ message }}</div>
  {% endif %}
  {% if errors %}
    <div class="subtitle has-text-danger">{{ errors }}</div>
  {% endif %}
  {{ form.non_field_errors }}
  <section class="form" data-controller="product-add">
    <div class="columns">
      <div class="column is-10">
        <form method="POST" action="">
          {% csrf_token %}
          <div class="field">
            <label class="label">Име</label>
            <div class="control">
              <input class="input is-medium" type="text" name="name" value="{{ form.data.name }}" required autofocus>
            </div>
          </div>
          <div class="field">
            <label class="label">Шифра</label>
            <div class="control">
              <input class="input is-medium" type="text" name="id_code" value="{{ form.data.id_code }}" required>
            </div>
          </div>
          <div class="field">
            <label class="label">Цена</label>
            <div class="control">
              <input class="input is-medium" type="number" name="price" value="{{ form.data.price }}" >
            </div>
          </div>
          <div class="field">
            <label for="reminders" class="label">Потсетници</label>
            <div class="control warning-select">
              <select id="reminders" name="reminders" class="select is-fullwidth" multiple required>
                {% for opt in reminder_options %}
                    {% if opt in existing_reminders %}
                      <option value="{{ opt }}" selected="selected">{{ opt }} ден</option>
                    {% else %}
                      <option value="{{ opt }}">{{ opt }} ден</option>
                    {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="control">
            <button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium">Зачувај</button>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}

{% block js_init %}
  <script defer src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
{% endblock %}
